.carousel-images {
        width: 100%;
        max-width: 800px;
        height: 350px;
        position: relative;
}

.carousel-image {
        width: 100%;
        max-width: 800px;
        height: 350px;
        position: absolute;
        transition: all 0.5s;
}

.carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        border-radius: 50%;
}

.carousel-button-prev {
        left: -100px;
}

.carousel-button-next {
        right: -100px;
}

.carousel-image-container {
        height: 400px;
        width: 600px;
        position: relative;
        transform: translateX(100%) translateY(50%);
}
